@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-sans);
  --font-serif: var(--font-serif);
  --font-mono: var(--font-geist-mono);
  --color-border: var(--border);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --radius-sm: calc(var(--radius) * 0.6);
  --radius-md: calc(var(--radius) * 0.8);
  --radius-lg: var(--radius);
}

:root {
  --background: #F5F3EF;
  --foreground: #111110;
  --muted: #E8E5DF;
  --muted-foreground: #7A7672;
  --border: #D4D0C9;
  --input: #D4D0C9;
  --primary: #111110;
  --primary-foreground: #F5F3EF;
  --ring: #111110;
  --radius: 0rem;
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-feature-settings: "kern" 1, "liga" 1;
  }
  html {
    @apply font-sans;
  }
}
